MDFS/Bagging/IcomMPOrderStatusResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://www.micro-p.com/mdfs/fulfillment" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="accountNumber">
        <xs:annotation>
            <xs:documentation>a valid Micro-P account number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="8" />
            <xs:pattern value="[MG][XCSTEZ][0-9]{6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="requestEchoType">
        <xs:sequence>
            <xs:element name="account" type="accountNumber" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="statusType">
        <xs:sequence>
            <xs:element name="orderId" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="orderId">
                        <xs:pattern value="((LE)[\w]{6})|([\w]{8})" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="status" type="xs:string" minOccurs="0" />
            <xs:element name="error" type="errorType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorType">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string" />
            <xs:element name="errorDetail" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="orderId">
        <xs:restriction base="xs:string">
            <xs:pattern value="((LE)[\w]{6})|([\w]{8})" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="orderStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestEcho" type="requestEchoType" />
                <xs:element name="timestamp" type="xs:string" />
                <xs:element name="error" type="errorType" minOccurs="0" />
                <xs:element name="orderStatuses" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="orderStatus" type="statusType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
