MDFS/Bagging/IcomMPOrderStatusResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://www.micro-p.com/mdfs/fulfillment" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.micro-p.com/mdfs/fulfillment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="accountNumber">
        <xs:annotation>
            <xs:documentation>a valid Micro-P account number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="8" />
            <xs:pattern value="(E[CETXZ])|(G[CEV])|(M[CDELMNSTVXZ])[0-9]{6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="requestEchoType">
        <xs:sequence>
            <xs:element name="account" type="tns:accountNumber" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="statusType">
        <xs:sequence>
            <xs:element name="orderId" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="orderId">
                        <xs:pattern value="((EE)[\w]{6})|((SS)[\w]{6})|((LE)[\w]{6})|([\w]{8})|([-A-Z0-9 _]{0,27}EDR:[0-9]{6})" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="status" type="xs:string" minOccurs="0" />
            <xs:element name="error" type="tns:errorType" minOccurs="0" />
            <xs:element name="pod" type="xs:anyURI" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Proof of Delivery URL</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="serialNumbers" type="tns:serialNumbersType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="note" type="noteType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Notes attached to the order, timestamped.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorType">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string" />
            <xs:element name="errorDetail" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="orderId">
        <xs:restriction base="xs:string">
            <xs:pattern value="((LE)[\w]{6})|([\w]{8})" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="orderStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestEcho" type="tns:requestEchoType" />
                <xs:element name="timestamp" type="xs:string" />
                <xs:element name="error" type="tns:errorType" minOccurs="0" />
                <xs:element name="orderStatuses" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="orderStatus" type="tns:statusType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="serialNumbersType">
        <xs:sequence>
            <xs:element name="IMEI">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{15}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ICCID" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{19}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MPN" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="07[0-9]{9}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="noteType">
        <xs:sequence>
            <xs:element name="note" type="xs:string" />
            <xs:element name="timestamp" type="xs:dateTime" />
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PUBLIC" />
                        <xs:enumeration value="PRIVATE" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
