MDFS/Bagging/IcomMPStockCheckResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://www.micro-p.com/mdfs/fulfillment" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="accountNumber">
        <xs:annotation>
            <xs:documentation>a valid Micro-P account number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="8" />
            <xs:pattern value="[MG][XCSTEZ][0-9]{6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="requestEchoType">
        <xs:sequence>
            <xs:element name="account" type="accountNumber" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="availabilityType">
        <xs:sequence>
            <xs:element name="partcode" type="xs:string" />
            <xs:element name="manupartcode" type="xs:string" minOccurs="0" />
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <xs:element name="quantity" type="xs:unsignedByte" minOccurs="0" />
            <xs:element name="price" type="xs:decimal" minOccurs="0" />
            <xs:element name="error" type="errorType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorType">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string" />
            <xs:element name="errorDetail" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="stockCheckResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestEcho" type="requestEchoType" />
                <xs:element name="timestamp" type="xs:string" />
                <xs:element name="availabilities" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="availability" type="availabilityType" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="errors" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="error" type="errorType" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
