MDFS/Bagging/IcomMPStockCheck.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://www.micro-p.com/mdfs/fulfillment" elementFormDefault="qualified" targetNamespace="http://www.micro-p.com/mdfs/fulfillment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="accountNumber">
        <xs:annotation>
            <xs:documentation>a valid Micro-P account number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="8" />
            <xs:pattern value="[MG][XCSTEZ][0-9]{6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="partCode">
        <xs:annotation>
            <xs:documentation>a valid Micro-P Partcode. # &amp; @ codes accepted also</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[-A-Z0-9#@]+" />
            <xs:maxLength value="45" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="stockCheckHeaderType">
        <xs:annotation>
            <xs:documentation>Data which applies to this basket</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="account" type="tns:accountNumber">
                <xs:annotation>
                    <xs:documentation>A valid Exertis Micro-P account number</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="StockCheck">
        <xs:annotation>
            <xs:documentation>A container for both header and multiple lines</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stockCheckHeader" type="tns:stockCheckHeaderType" />
                <xs:element name="itemsToCheck">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="partcode" type="tns:partCode" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
