MDFS/Bagging/IcomMPStockCheckResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.micro-p.com/mdfs/fulfillment">
    <xs:element name="stockCheckResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestEcho" type="requestEchoType" />
                <xs:element name="results">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="timestamp" type="xs:string" />
                            <xs:element name="availability" type="availabilityType" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="error" type="errorType" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="requestEchoType">
        <xs:sequence>
            <xs:element name="account" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="availabilityType">
        <xs:sequence>
            <xs:element name="partcode" type="xs:string" />
            <xs:element name="manupartcode" type="xs:string" minOccurs="0" />
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <xs:element name="quantity" type="xs:unsignedByte" minOccurs="0" />
            <xs:element name="error" type="errorType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorType">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string" />
            <xs:element name="errorDetail" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
